html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

// HEADER
header {
    text-align: center;
    background-color: black;
}

h1 {
    letter-spacing: .2rem;
    color: white;
    margin: 0;
    padding: 4rem;
}

// MAP
.map {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 1rem;
}

// SEARCHENGINE
.search-engine-container {
    margin: auto 5rem;
    //width: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 14px;
}

// .options-container {
//     margin: 1rem;
//     width: 100%;
// }

// .option-label {
//     margin: .5rem 0;
// }

// .searchbar-container {
//     width: 50%;
// }
// #search-input {
//     padding: .3rem 1rem;
//     width: 100%;
// }


// AD
.real-ad-container {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid black;
}

.real-ad-sm-pics img {
    height: 100px;
    padding: .1rem .2rem;
}